body {
  height: 100%;
}

.new-tweet {
  background-color: #eee;
  margin: auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

main {
  padding: 2em;
}

.container .new-tweet h2 {
  margin: 0;
  border-bottom: 1px solid;
  border-color: black;
}

.counter {
  float: right;
  font-style: italic;
  font-size: 13px;
  padding-right: 10px;
  padding-top: 5px;
}

.counter.over-limit {
  color: red;
}

textarea {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 80%;
  padding-bottom: 4px; 
}

#tweet-form textarea.error {
  border-color: red;
  background-color: rgb(255, 224, 224);
}